 body {
    display: flex;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 main {
    flex-direction: row;
    flex: auto;
 }
 article {
    flex:2;
    
    overflow: auto;
 }
 aside {
    flex:1;
    overflow: auto;
 }